<h1>Hi, <%= @subscriber.name %>!</h1>
<p>Thank you for your interest in our idea. I promise we won't email you too often to avoid cluttering your inbox.
  Important messages only. And we'll let you know when we're ready to launch.
  <br>
  Artem Blazhievskii, project author.</p>
