<% content_for :title, "New ride post" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New ride post</h1>

  <%= render "form", ride_post: @ride_post %>

  <%= render "shared/components/buttons/button",
             text: "Back to ride posts",
             size: "sm",
             variant: "secondary",
             href: ride_posts_path %>
</div>
